//mixin 같이 공통 파일은 App.scss로 옮겼어요 (수진) 이 메모는 병합할때 지워주세요

//컴포넌트 파일
@import "./header.scss";
@import "./banner.scss";
@import "./footer.scss";
@import "./contentslist.scss";
@import "./circle.scss";
@import "./contentsbanner.scss";
@import "./maincontent.scss";

:root {
  --color-main: #ffa500;
  --color-sub: #ffcd00;
  --color-btn: #ff6103;
  --color-bg: #fef9f3;
  --color-error: #ff0000;
  --color-point: #426a2d;

  --color-white: #ffffff;
  --color-light-gray: #dadada;
  --color-gray: #b6b5b3;
  --color-dark-gray: #8d8b84;

  --color-main-font: #2c2c2c;
  --color-sub-font: #f4f4f4;
}