*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: inherit;
  display: block;
}
li{
  list-style: none;
}
//바디 추가 (수진) 이 메모 병합할때 지워주세요
body{
  font-family: 'SUIT';
  font-weight: 500;
  word-break: keep-all;
  background-color: var(--color-bg);

}
h1{
  font-family: 'SBAggroB';
  font-weight: 300;
}
button{ 
  cursor: pointer; 
}